
.navbar-header {
    background-color: transparent;
    font-weight: 500px;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-size: 12px;
}

.nav-item a {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
}


/* main-title */
.main-title{
    background-color: #dee8ea;
    background-image: url("/src/Images/about/banner1.jpg");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    min-height: 350px;
    margin: 0px auto;
    text-align: center;
    display:flex;
    justify-content: center;
    align-items: center;
}

.main-title-content{
    max-width: 620px;
    margin: 0 auto;
}

.main-title-content h2{
    font-size: 32px;
    color: white;
}

.main-title-content p{
    font-size: 18px;
    color: #fff;
    opacity: 0.7;
}

/* Number */
.number {
    min-height: 241px;
    display: flex;
    align-items: center;
    background-color: #10c9c3;
}

.number-item {
    display: flex;
    align-items: center;
    color: white;
}

.number-img img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.number-img {
    color: white;
}

.number-content {
    margin-left: 20px;
}

.number-title {
    font-size: 18px;
    margin-top: 12px;

}

.number-text {
    font-size: 12px;
    text-transform: uppercase;
}

/* About */
.about {
    position: relative;
    background-color: #F8F9F9;
    min-height: 570px;
    display: flex;
    align-items: center;
}

.about::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    background-image: url("../images/about/About.jpg");
    background-repeat: no-repeat;
    background-size: auto 570px;
    background-position: right center;
}

.about-content {
    min-height: 570px;
}

.about-text {
    width: 100%;
}

.align-right {
    margin-left: auto;
}

.align-right h2{
    font-size: 32px;
}

.align-right p{
    margin-top: 20px;
    margin-bottom: 30px;
    color: #000;
    opacity: 0.8;
    font-size: 16px;
}

/* need a project */
.needaproject {
    display: flex;
    min-height: 300px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.needaproject-content h3{
    font-size: 30px;
    margin-bottom: 20px;
}

.needaproject-content p {
    max-width: 600px; 
    margin: 0 auto; 
    font-size: 16px;
    line-height: 24px;
    color: #333;
    opacity: 0.8;
}


.btn-form-contact{
    background-color: #0fc9c3;
    color: white;
    font-size: 14px;
    padding: 10px 40px;
    border: 1px solid #0fc9c3;
    text-transform: uppercase;
}

.btn-form-contact a {
    color:white;
    text-decoration: none;
    list-style: none;
}


/* Footer */

.footer{
    background-color: #141414;
    padding: 70px 0;
}

.footer-content-left{
    padding: 30px 15px 0;
}

.footer-content-left h3{
    color: #fff;
    font-size: 18px;
    margin: 0 0 20px;
}

.footer-content-left p{
    color: #bcbcbc;
    font-size: 15px;
    max-width: 250px; 
}

.footer-content-main{
    padding: 30px 15px 0;
}

.footer-content-main a{
    color: #bcbcbc;
    font-size: 15px;
    text-decoration: none;
}

.footer-content-main p{
    color: #bcbcbc;
    font-size: 15px;
}

.footer-content-right{
    display: flex;
    padding: 30px 15px 0;
}

.footer-content-right ul li{
    list-style: none;
}

.footer-content-right a{
    text-decoration: none;
    font-size: 15px;
    color: #bcbcbc;
}

/* Media mobile */
@media (max-width: 768px) {
    .footer .container {
        text-align: center;
    }
    
    .footer-content-left,
    .footer-content-main,
    .footer-content-right {
        width: 100%;
        padding: 10px 0;
        display: block;
        text-align: center;
    }
    .footer-content-left p{
        max-width: 100%;
    }

    .footer-content-right {
        display: block;
    }

    .footer-content-right ul {
        display: inline-block;
        margin: 10px 0;
    }

    .footer-content-right ul li {
        display: inline-block;
        margin: 0 10px;
    }
}